html, body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.search-field {
    max-width: 320px;
    display: inline-block;
}

.search-button {
    margin-top: -3px;
}

.clouds-container {
    position: absolute;
    padding: 100px 0;
    top: -100px;
    left: 0;
    right: 0;
    height: 200px;
}

.cloud {
    position: absolute;
    font-size: 200px;
    color: rgba(128, 128, 128, 0.5);
    display: block;
}


.full-screen {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index:-1000;
}


#snow {
    background: url("//www.wearewebstars.dk/codepen/img/s1.png"), url("//www.wearewebstars.dk/codepen/img//s2.png"), url("//www.wearewebstars.dk/codepen/img/s3.png");
    animation: snow 10s linear infinite;
}

@keyframes snow {
    0% {background-position: 0 0, 0 0, 0 0;}
    50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}


.rain-drop {
    background:-webkit-gradient(linear,0% 0%,0% 100%, from(rgba(13,52,58,1) ), to(rgba(255,255,255,0.6))  );
    background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.6) 100%);
    width:1px;
    height:89px;
    position: absolute;
    bottom:200px;
    animation: rain-fall .63s linear infinite;
}

@-webkit-keyframes rain-fall {
    to {margin-top:900px;}
}
@-moz-keyframes rain-fall {
    to {margin-top:900px;}
}

.temperature-above-zero {
    color: red;
}

.temperature-below-zero {
    color: blue;
}

.weather-info {
    font-size: larger;
    padding-bottom: 0;
}

.well {
    background: rgba(245, 245, 245, 0.7);
}