<!doctype html>
<html lang="en" data-ng-app="weather">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Weather...</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body data-ng-controller="WeatherController as wc" style="background-image:url({{wc.imageUrl}})">

    <div class="clouds-container" data-ng-if="wc.weather != null && wc.weather.clouds.length > 0">
        <cloud data-ng-repeat="c in wc.weather.clouds track by $index"></cloud>
    </div>

    <div class="full-screen" id="snow" data-ng-if="wc.weather.snowing"></div>
    <rain class="full-screen" data-ng-if="wc.weather.raining"></rain>

    <div class="row" style="padding-top: 20px">
        <div class="col-sm-4 col-sm-offset-4 text-center well">
            <form data-ng-submit="wc.doSearch();">
                <input data-ng-model="wc.searchText" class="form-control search-field"
                    data-typeahead-min-length="0"
                    data-uib-typeahead="c.searchString for c in wc.recentSearches | filter:$viewValue"
                    placeholder="Enter the name of the city to get the weather"
                >

                <button class="btn btn-default search-button"  type="submit" data-ng-disabled="wc.searchText.length < 3">
                    <span class="glyphicon glyphicon-search"></span>
                    Get weather
                </button>
            </form>

            <div class="row weather-info" data-ng-if="wc.weather != null">
                {{wc.searchInfo}}:

                <span data-ng-class="{'temperature-below-zero': !wc.weather.temperatureAboveZero, 'temperature-above-zero': wc.weather.temperatureAboveZero }">{{wc.weather.temperature}} C&deg;</span>

                <img data-ng-src="{{wc.weather.icon}}">
                {{wc.weather.description}}
            </div>

        </div>
    </div>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
<script src="js/lib/bootstrap-ui.js"></script>
<script src="js/app.js"></script>
<script src="js/services.js"></script>
<script src="js/controllers.js"></script>

</html>